<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>студия гранита</title>

    <link rel="stylesheet" href="../static/style.css">

    <!-- Favicon (значок вкладки) -->
    <!-- <link rel="icon" href="../images/logo.png" type="image/x-icon"> -->
</head>

<body>
    <header>
        <div class = "logo">
            <a href="/">
                <img 
                src = "../static/images/logo.png"
                width = "200"
                height = "90" 
                >
            </a>
        </div>
        <nav class = "btn-heder-centr">
            <ul>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/info">О компании</a></li>
            </ul>
        </nav>
        <div class = "heder-btn-contact">
            <a href="https://t.me/romdle">+7 (988) 538-87-69</a>
        </div>
        <div>
            <a href="#contacts">Заказать звонок</a>
        </div>
    </header>

    <main class = main>
        <section class = "mainpage-start">
            <div class = "mainpage-start-text">
                <h1>Мы создаём памятники с заботой и уважением</h1>
                <p>С 1998 года наша студия помогает семьям увековечить память о близких. Работаем только с натуральным камнем высшего качества: карельский гранит, габбро-диабаз, мрамор. Каждый памятник — это символ вечной памяти и уважения.</p>
            </div>
            <div class = "mainpage-start-ctlg-btn">
                <a href="/catalog">Смотреть каталог</a>
            </div>
            <div class = "mainpage-start-svyaz-btn">
                <a href="#contacts">Связаться с нами</a>
            </div>
        </section>

        <section class = "mainpage-materials">
            <div class = "mainpage-materials-text-1">
                <h3>Материалы, с которыми мы работаем</h3>
            </div>
            <div class class = "mainpage-materials-text-2">
                <p>Используем только натуральный камень высочайшего качества, проверенный временем</p>
            </div>
            <div class = "mainpage-materials-art-1">

            </div>
            <div class = "mainpage-materials-art-2">

            </div>
            <div class = "mainpage-materials-art-3">

            </div>
            <div class = "mainpage-materials-art-text-1">
                <h4>Карельский Габбро-Диабаз</h4>
                <p>Самый распространенный камень для памятников</p>
            </div>
            <div class = "mainpage-materials-art-text-2">
                <h4>Премиальные виды гранита</h4>
                <p>Блю Перл(Норвегия), Шокша(Карелия), Хибинит</p>
            </div>
            <div class = "mainpage-materials-art-text-3">
                <h4>Разнообразные виды камня</h4>
                <p>Большая палитра цветов для Ваших памятников. Дымовский, Возрождение, Ала-Носкуа, Игл Рэд, Балтик Грин и многие другиеБольшая палитра цветов для Ваших памятников. Дымовский, Возрождение, Ала-Носкуа, Игл Рэд, Балтик Грин и многие другие</p>
            </div>
        </section>
        <section class = "mainpage-catalog">
            <div class = "mainpage-catalog-zagolovok">
                <h2>Каталог</h2>
            </div>
            <div class = "mainpage-catalog-text">
                <h3>Стандартные памятники</h3>
            </div>
            <div class = "mainpage-catalog-btn">
                <a href="/catalog/standart">Смотреть все &#8594;</a>
            <div class = "mainpage-catalog-text">
                <h3>Семейные памятники</h3>
            </div>
            <div class = "mainpage-catalog-btn">
                <a href="/catalog/family">Смотреть все &#8594;</a>
            </div>
            <div class = "mainpage-catalog-text">
                <h3>Эксклюзивные памятники</h3>
            </div>
            <div class = "mainpage-catalog-btn">
                <a href="/catalog/exlusive">Смотреть все &#8594;</a>
            </div>            
            <div class = "mainpage-catalog-text">
                <h3>Детские памятники</h3>
            </div>
            <div class = "mainpage-catalog-btn">
                <a href="/catalog/detskie">Смотреть все &#8594;</a>
            </div>                                                
        </section>
        <section>
            <div>
                <h2>Свяжитесь с нами</h2>
            </div>
            <div>Мы всегда готовы ответить на ваши вопросы и помочь в выборе достойного памятника</div>
            <div>
                <div>
                    <h5>Телефон</h5>
                </div>
                <div>
                    <p>+7 1938 1838 1893</p>
                </div>
            </div>
            <div>
                <div>
                    <h5>Почта</h5>
                </div>
                <div>
                    <p>+7 1938 1838 1893</p>
                </div>
            </div>
            <div>
                <div>
                    <h5>Адрес</h5>
                </div>
                <div>
                    <p>г ыфво цоцо 432</p>
                </div>
            </div>                        
        </section>
    </main>

    <footer>
        <div>
            <p>&copy; 2025 Название компании. Все права защищены.</p>
            <ul>
                <li><a href="#">VK</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Telegram</a></li>
            </ul>
        </div>
    </footer>

    <!-- Скрипты -->
    <!-- <script src="scripts/main.js"></script> -->
</body>
</html>